/tbx11k-simplified
/tbx11k-simplified_gab
/tbx11k-simplified_non_red
/tbx11k-simplified_red
/tbx11k-simplified_can/testcan/healthy
/tbx11k-simplified_can/testcan/sick_no_tb
/tbx11k-simplified_can/traincan/healthy
/tbx11k-simplified_can/traincan/sick_no_tb
/tbx11k-simplified_can/valcan/healthy
/tbx11k-simplified_can/valcan/sick_no_tb
/tbx11k-simplified.zip
tb1199.png
vgg16.h5
vgg16.keras
res50clahe.json
res50clahenewdata.json
resnet50_10ep.h5
resnet50_CLAHE_newdata.keras
resnet50_CLAHE.keras
vgg.ipynb
utilities.ipynb
train_his.json
clahe.ipynb
app2.py